In [1]:
import math

In [7]:
import random

def populate_list():
    return [random.randint(0, 1000)
            for _ in range(10000)]

def sum_elements(list_one, list_two):
    summation = []
    for index, elem in enumerate(list_one):
        summation.append(elem + list_two[index])
    return summation

list_one = populate_list()
list_two = populate_list()

In [8]:
%timeit sum_elements

25.6 ns ± 1.04 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [19]:
import numpy as np

def sum_elements_np(list_one, list_two):
    arr_one = np.array(list_one)
    arr_two = np.array(list_two)
    return list_one + list_two

list_one, list_two = np.array(list_one), np.array(list_two)

In [20]:
%timeit list_one + list_two

4.8 µs ± 103 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [11]:
25.6/19.8

1.292929292929293

In [15]:
def new_list_gen(listing):
    new_list = listing[:]
    new_list[0] = 7
    return sum(new_list)

listing = list(range(10))
summation = new_list_gen(listing)
print(listing)
print(summation)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
52

In [25]:
list_one[list_one < 5]

0.005

In [ ]:
#SELECT * FROM TABLE WHERE col_one<5